<section class="container container-about">
    <div class="row">
        <div class="col-md-12">

        </div>

        <div class="col-sm-12 col-md-8">
            <p>
                <i>„Ein akustisches Trio, ein buntes Sammelsurium, am Formen und Wachsen“</i>.
                <p>
                 Handgemachte Musikstücke mit englischen und deutschen Texten,
                 welche so vielseitig sind wie die Gruppe selbst, laden sie zum
                 Mitsingen oder nachdenken, aber auch zum Tanzen oder einfach zum genießen ein.
                 Schaut doch einfach mal vorbei und macht euch ein Bild vom akustischem Rock
                 der Dreizimmerwohnung mit Einflüssen von Singer/Songwriter, Grunge, Reggae und Funk.
            </p>

            <h2>Die Band</h2>

            <dl>
             <dt>Jan (Gitarre / Bass / Gesang)</dt>
             <dd>Der breite Grat zwischen Straßenmusik und Wissenschaft ist sein
               Spezialgebiet, bei dem er sich zu verwirklichen versucht. Der
               Wahltiroler spielt hauptsächlich Gitarre und singt dazu,
               scheut aber auch nicht davor neue Erfahrungen mit dem E-Bass zu
               sammeln.</dd>
             <dt>Hannes (Gitarre / Bass / Gesang)</dt>
             <dd>Ein nach Tirol zurückgekehrter Weltenbummler, der viel
               Erziehungsarbeit leistet, doch privat gerne selbst ein wenig
               Kind bleibt. Musikalisch mit vielen Wassern gewaschen,
               spielt er hauptsächlich E-Bass und greift auch gerne zur
               Gitarre, schreibt Songs und singt dazu.</dd>
             <dt>Fabien (Percussions)</dt>
             <dd>Aus Frankreich aber schon lange weg: nach sieben
               Jahre in Berlin und ein zwischenstopp in Garmish, er ist seit
               2016 ein glücklicher Innsbrucker. Forscher tagsüber,
               abends dann mal was anderes. Seine frühere Projekte aus Toulouse und Berlin:
             <a href="https://www.jamendo.com/artist/348758/inti-watana/albums"> Inti Watana </a>,
             <a href="http://wnband.wixsite.com/warum-nicht"> Warum Nicht!</a>,
             <a href="https://sillycircusband.bandcamp.com/"> Silly Circus Band</a>.
             </dd>
           </dl>


        </div>
        <div class="col-sm-12 col-md-4">
            <img src="web-dist/images/3zi.jpeg" width="100%">
        </div>
    </div>
</section>
