<section class="container container-about">
    <div class="row">
        <div class="col-md-12">

        </div>

        <div class="col-sm-12 col-md-6">
            <p>
                Handgemachte Akustiknummern mit Stileinflüssen aus Singer/Songwriter,
                Reggae, Rock, Funk und Pop aus dem Herzen Europas. Musik zum
                mitsingen oder nachdenken, aber auch mal zum tanzen.
            </p>

            <h2>Die Band</h2>

            <dl>
             <dt>Jan (Gitarre / Bass / Gesang)</dt>
             <dd>Der ist ja geil...</dd>
             <dt>Hannes (Gitarre / Bass / Gesang)</dt>
             <dd>Multi-musiker</dd>
             <dt>Fabien (Percussions)</dt>
             <dd>Aus Frankreich aber schon lange weg, 7 Jahr zwischenstopp in
               Berlin, seit 2016 glücklicher Innsbrucker. Klimaforscher tagsüber,
               abends dann mal was anderes. Frühere Projekte aus Toulouse und Berlin:
             <a href="https://www.jamendo.com/artist/348758/inti-watana/albums"> Inti Watana </a>,
             <a href="http://wnband.wixsite.com/warum-nicht"> Warum Nicht!</a>,
             <a href="https://sillycircusband.bandcamp.com/"> Silly Circus Band</a>.
             </dd>
           </dl>


        </div>
        <div class="col-sm-12 col-md-6">
            <img src="web-dist/images/3zi.jpeg" width="100%">
        </div>
    </div>
</section>
