<section class="container container-concerts">
    <div class="row">
        <div class="col-md-12">
        <br>
        <br>
          <h2>Upcoming concerts</h2>

          Book us in your location!
          <br>
          <br>

          <h2>Past concerts</h2>
             <ul>
                <li>17.11.2018: <a href="https://www.schlafzimmer-festival.org/"> Schlafzimmer Festival #4</a></li>
                <li>11.11.2018: Private Party!</li>
                <li>21.04.2018: <a href="https://www.schlafzimmer-festival.org/"> Schlafzimmer Festival #3</a></li>
              </ul>
        </div>
    </div>
</section>
