<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact</h2>


                Wenn ihr über unsere nächste Autritte erfahren wolltet, oder uns
                gerne in eure Location einladen möchtet, schreibt einfach!
            </div>

            <div class="col-md-6 col-sm-12 container-contacts-phone">


                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
                <br>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <a href="https://fb.me/DreiZi">
                    DreiZi
                </a>
            </div>
            <!--
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
            -->
        </div>
    </div>
</footer>
